@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

@property --angle {
  syntax: '<angle>';
  initial-value: 180deg;
  inherits: false;
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  
  body {
    @apply bg-platinum dark:bg-rich-black text-rich-black dark:text-platinum;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl sm:px-6 lg:px-8;
  }

  .gradient-text {
    --angle: 180deg;
    background-image: conic-gradient(
      from var(--angle) at 50% 70%,
      hsla(0,0%,98%,1) 0deg,
      #eec32d 72deg,
      #ec4b4b 144deg,
      #709ab9 216deg,
      #4dffbf 288deg,
      hsla(0,0%,98%,1) 1turn
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rotate 6s linear infinite;
  }

  @keyframes rotate {
    to {
      --angle: 540deg;
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
