@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist Sans";
  src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

@property --angle {
  syntax: '<angle>';
  initial-value: 180deg;
  inherits: true;
}

@keyframes rotate {
  to { --angle: 540deg; }
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
  
  body {
    @apply bg-platinum dark:bg-rich-black text-rich-black dark:text-platinum;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto max-w-7xl sm:px-6 lg:px-8;
  }

  .animated-gradient-text {
    --primary-bg: conic-gradient(
      from var(--angle, 180deg) at 50% 70%,
      hsla(0,0%,98%,1) 0deg,
      #eec32d 72deg,
      #ec4b4b 144deg,
      #709ab9 216deg,
      #4dffbf 288deg,
      hsla(0,0%,98%,1) 1turn
    );
    --highlight: 2;
    --spread: 1;
    --primary: #ffffff;
    --secondary: #606060;
    
    background:
      var(--primary-bg),
      linear-gradient(var(--secondary), var(--secondary)),
      linear-gradient(var(--secondary) 0 calc((var(--highlight) + var(--spread)) * 1lh), transparent);
    background-repeat: no-repeat;
    background-size: 
      100% calc(var(--highlight) * 1lh),
      100% calc((var(--highlight) + var(--spread)) * 1lh),
      100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rotate 6s infinite linear;
    font-weight: 120;
    line-height: 1.07;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .font-smooth {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
